\.idea/
vue-js-starter-scss

## App Server

app_server/*.class
app_server/*.log
app_server/*.iml
app_server/*.ipr
app_server/*.iws
app_server/.idea
app_server/out
app_server/.cache/
app_server/.history/
app_server/.lib/
app_server/dist/*
app_server/target/
app_server/bin/
app_server/libexec/
app_server/lib_managed/
app_server/src_managed/
app_server/project/boot/
app_server/project/plugins/project/
app_server/logs/
app_server/project/*-shim.sbt
app_server/project/project/
app_server/project/target/
app_server/target/
app_server/.scala_dependencies
app_server/.worksheet